<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoleMapper">


    <resultMap id="authUser" type="com.example.demo.model.UserAuto">
        <result  property="userName" column="userName" javaType="java.lang.String"></result>
        <result  property="userDescription" column="user_desc" javaType="java.lang.String"></result>
        <result  property="password" column="password" javaType="java.lang.String"></result>
        <collection property="roles" column="role_infom" ofType="com.example.demo.model.RoleInfo">
            <id  property="role_code" column="role_code" javaType="java.lang.String"></id>
            <result  property="parent_role_code" column="parent_role_code" javaType="java.lang.String"></result>
            <result  property="role_desc" column="role_desc" javaType="java.lang.String"></result>
        </collection>
    </resultMap>
    <select id="queryRoleCodeByUsername" resultType="String">
        select a.role_code from au_role a,au_user u where u.username = #{username}
    </select>

    <select id="loginAuth"  resultType="com.example.demo.model.UserAuto">
        select * from  au_user  where username = #{username} AND
        password = #{password}
    </select>

    <select id="selectOneUserAuth"  resultMap="authUser">
        select u.username as userName,u.`password` as password,u.user_desc,
        r.*  from au_user u,au_user_role r where u.username = r.usename AND
        u.username = #{username}
    </select>


</mapper>
